@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Roboto+Slab:wght@500&display=swap');
* {
    font-family: "Roboto slab", serif;
}

h3 {
    font-family: "Protest Revolution", sans-serif;
}

.hover-item {
    position: relative;
}

.floating-image {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    margin-top: 10px;
    width: 300px;
    height: 200px;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.hover-item:hover .floating-image {
    opacity: 1;
    visibility: visible;
}